/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: IosevkaTerm Nerd Font;
  box-sizing: border-box;
}

input,
select {
  padding: 0.3rem;
}
